.content{
  width: calc(100% - 200px);
  &__tags{
    background-color: #202020;
    padding: 15px 20px;
    border-top: .5px solid rgba(116, 116, 116, 0.397);
    border-bottom: .5px solid rgba(116, 116, 116, 0.397);
  }
  &__tag{
    background-color: rgba(116, 116, 116, 0.397);;
    color: #fff;
    &--active{
      background-color: #fff;
      color: $bg-dark;
    }
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 14px;
    margin-right: 10px;
    display: inline-block;
  }
  &__box{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-items: center;
  }
}