.header{
  background-color: #202020;
  @include d-flex-b;
  padding: 10px 20px;

  &__logo{
    font-family: 'Oswald', sans-serif;
    @include d-flex-c;
    font-size: 17px;
    margin-left: 10px;
    opacity: 9;
  }

  &__left{
    width: 20%;
    // background-color: blueviolet;
    @include d-flex-a;
  }

  &__center{
    // background-color: red;
    width: 40%;
    height: 33px;
  }

  &__right{
    width: 25%;
    background-color: green;
    @include d-flex-e;
  }

  &__btn{
    background-color: grey;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right:  5px;
    &--toggle{
      background-color: transparent;
      @include d-flex;
      position: relative;
      ::after{
        display: block;
        content: '';
        width: 100%;
        height: 2.3px;
        background-color: grey;;
        position: absolute;
        top: 0;
        border-radius: 2px;
      }
      span{
        width: 100%;
        height: 2.5px;
        background-color: grey;;
        display: block;
        border-radius: 2px;
      }
      ::before{
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background-color: grey;;
        position: absolute;
        bottom: 0;
        border-radius: 2px;
      }
    }
  }
}