.show{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  
  &__subjection{
    margin-top: 20px;
  }
  .card{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 8px;
    &__header{
      width: 170px ;
      height: 100px;
      flex: none;
    }
    &__profil{
      display: none;
      height: 0;
      width: 0;
      opacity: 0;
    }
    &__content{
      margin-top: 0;
      margin-left: 10px;
    }
    &__footer{
      overflow: hidden;
    }
    &__title{
      margin-bottom: 6px;
      font-size: .9rem;
      line-height: 1.4;
    }
  }

  &__content{
    width: 70%;
    height: 600px;
    background-color: rgb(173, 173, 173);
  }

  &__tag{
    background-color: rgba(116, 116, 116, 0.397);;
    color: #fff;
    &--active{
      background-color: #fff;
      color: $bg-dark;
    }
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 14px;
    margin-right: 10px;
    display: inline-block;
  }

  &__tags{
    position: relative;
    .svg{
      position: absolute;
      right: 0;
      // si nombre de tag > 5 , '>' visible
      display: none;
    }
  }

  &__sidebar{
    width: 28%;
    // background-color: aquamarine;

  }
}